<a href="https://colab.research.google.com/github/Anakha-s/Data-Science/blob/main/experiment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#dictionary
d={1:'Anu',2:'Minnu',3:'Kichu',4:'Ammu'}
print(d)
print("1st name is "+d[1])
print("3rd name is "+d[3])
print(d.keys())
print(d.values())

{1: 'Anu', 2: 'Minnu', 3: 'Kichu', 4: 'Ammu'}
1st name is Anu
3rd name is Kichu
dict_keys([1, 2, 3, 4])
dict_values(['Anu', 'Minnu', 'Kichu', 'Ammu'])

SET

In [7]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{'Hello', 1.0, (1, 2, 3)}

BOOLEAN VALUES

In [ ]:
print(10>9)
print(10==9)
print(10<9)
#boolean program with built in method bool()
print("boolean program with built in method bool()")
x=5
y=10
print(bool(x==y))

True
False
False
boolean program with built in method bool()
False

DATA TYPES

In [ ]:
s=1
print(type(s))
a="hello"
print(type(a))
b=[1,2,3]
print(type(b))
c={1:'hai',2:'everyone'}
print(type(c))
d=True
print(type(d))
e=1,2
print(type(e))
f={"a","b"}
print(type(f))
g=()
print(type(g))
h=bytes()
print(type(h))
i=bytearray()
print(type(i))
j=range(4)
print(type(j))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'tuple'>
<class 'set'>
<class 'tuple'>
<class 'bytes'>
<class 'bytearray'>
<class 'range'>

LIST

In [ ]:
list=['Anu','Minnu','Kichu','Ammu']
print(list[0])
print(list[2])
print(list[3])
print(list[0:2])
print(list[:])
print(list[-2])

Anu
Kichu
Ammu
['Anu', 'Minnu']
['Anu', 'Minnu', 'Kichu', 'Ammu']
Kichu

function

In [ ]:
def fact(n):
  if n==1:
    return n
  else:
    return n*fact(n-1)
num=6
if num<0:
  print("factorial not possible")
elif num==0:
  print("factorial of 0 is 1")
else:
  print("factorial of",num,"is",fact(num))

factorial of 6 is 720

TUPLES

In [9]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
int_tuple = (1, 2, 3)
print(int_tuple)

# tuple with mixed datatypes
mix_tuple = (1, "Hello", 3.4)
print(mix_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))