<a href="https://colab.research.google.com/github/Anakha-s/Data-Science/blob/main/Experiment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib,pyplot as plt
import seaborn as sns
from scipy import stats

In [6]:
#printing first rows(5) with head
movies=pd.read_csv("IMDb names.csv")
print(movies.head(5))

  imdb_name_id             name  ... spouses_with_children  children
0    nm0000001     Fred Astaire  ...                     1         2
1    nm0000002    Lauren Bacall  ...                     2         3
2    nm0000003  Brigitte Bardot  ...                     1         1
3    nm0000004     John Belushi  ...                     0         0
4    nm0000005   Ingmar Bergman  ...                     5         8

[5 rows x 17 columns]

In [7]:
#describe statistics

print(movies.describe())

             height        spouses  ...  spouses_with_children       children
count  44681.000000  297705.000000  ...          297705.000000  297705.000000
mean     175.007162       0.208690  ...               0.104866       0.196439
std       14.055496       0.570208  ...               0.349762       0.721257
min       20.000000       0.000000  ...               0.000000       0.000000
25%      168.000000       0.000000  ...               0.000000       0.000000
50%      175.000000       0.000000  ...               0.000000       0.000000
75%      183.000000       0.000000  ...               0.000000       0.000000
max      990.000000      12.000000  ...               6.000000      16.000000

[8 rows x 5 columns]

In [8]:
#check the column names
print("column names:%s"%movies.columns.values)

column names:['imdb_name_id' 'name' 'birth_name' 'height' 'bio' 'birth_details'
 'date_of_birth' 'place_of_birth' 'death_details' 'date_of_death'
 'place_of_death' 'reason_of_death' 'spouses_string' 'spouses' 'divorces'
 'spouses_with_children' 'children']

In [9]:
print(movies.dtypes)
print(movies.shape)

imdb_name_id              object
name                      object
birth_name                object
height                   float64
bio                       object
birth_details             object
date_of_birth             object
place_of_birth            object
death_details             object
date_of_death             object
place_of_death            object
reason_of_death           object
spouses_string            object
spouses                    int64
divorces                   int64
spouses_with_children      int64
children                   int64
dtype: object
(297705, 17)

In [15]:
#check null data
print("NULL VALUES:\n")
print(movies.isna())
print(movies.isna().sum())
print("null values %s" %movies.isnull().values.any())
print("total null values %d" %movies.isna().sum().sum())
print(movies.describe())

NULL VALUES:

        imdb_name_id   name  ...  spouses_with_children  children
0              False  False  ...                  False     False
1              False  False  ...                  False     False
2              False  False  ...                  False     False
3              False  False  ...                  False     False
4              False  False  ...                  False     False
...              ...    ...  ...                    ...       ...
297700         False  False  ...                  False     False
297701         False  False  ...                  False     False
297702         False  False  ...                  False     False
297703         False  False  ...                  False     False
297704         False  False  ...                  False     False

[297705 rows x 17 columns]
imdb_name_id                  0
name                          0
birth_name                    0
height                   253024
bio                       93007
birth_details            187093
date_of_birth            187093
place_of_birth           193713
death_details            257772
date_of_death            257772
place_of_death           260667
reason_of_death          275011
spouses_string           252353
spouses                       0
divorces                      0
spouses_with_children         0
children                      0
dtype: int64
null values True
total null values 2217505
             height        spouses  ...  spouses_with_children       children
count  44681.000000  297705.000000  ...          297705.000000  297705.000000
mean     175.007162       0.208690  ...               0.104866       0.196439
std       14.055496       0.570208  ...               0.349762       0.721257
min       20.000000       0.000000  ...               0.000000       0.000000
25%      168.000000       0.000000  ...               0.000000       0.000000
50%      175.000000       0.000000  ...               0.000000       0.000000
75%      183.000000       0.000000  ...               0.000000       0.000000
max      990.000000      12.000000  ...               6.000000      16.000000

[8 rows x 5 columns]