<a href="https://colab.research.google.com/github/Anakha-s/Data-Science/blob/main/experiment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#dictionary
d={1:'Anu',2:'Minnu',3:'Kichu',4:'Ammu'}
print(d)
print("1st name is "+d[1])
print("3rd name is "+d[3])
print(d.keys())
print(d.values())

{1: 'Anu', 2: 'Minnu', 3: 'Kichu', 4: 'Ammu'}
1st name is Anu
3rd name is Kichu
dict_keys([1, 2, 3, 4])
dict_values(['Anu', 'Minnu', 'Kichu', 'Ammu'])

BOOLEAN VALUES

In [ ]:
print(10>9)
print(10==9)
print(10<9)
#boolean program with built in method bool()
print("boolean program with built in method bool()")
x=5
y=10
print(bool(x==y))

True
False
False
boolean program with built in method bool()
False

DATA TYPES

In [ ]:
s=1
print(type(s))
a="hello"
print(type(a))
b=[1,2,3]
print(type(b))
c={1:'hai',2:'everyone'}
print(type(c))
d=True
print(type(d))
e=1,2
print(type(e))
f={"a","b"}
print(type(f))
g=()
print(type(g))
h=bytes()
print(type(h))
i=bytearray()
print(type(i))
j=range(4)
print(type(j))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'tuple'>
<class 'set'>
<class 'tuple'>
<class 'bytes'>
<class 'bytearray'>
<class 'range'>

LIST

In [4]:
list=['d','a','t','a','s','c','i','e','n','c','e']
print(list[0])
print(list[4])

d
s