<a href="https://colab.research.google.com/github/Anakha-s/Data-Science/blob/main/Experiment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib,pyplot as plt
import seaborn as sns
from scipy import stats

In [6]:

movies=pd.read_csv("IMDb names.csv")
print(movies.head(5))

  imdb_name_id             name  ... spouses_with_children  children
0    nm0000001     Fred Astaire  ...                     1         2
1    nm0000002    Lauren Bacall  ...                     2         3
2    nm0000003  Brigitte Bardot  ...                     1         1
3    nm0000004     John Belushi  ...                     0         0
4    nm0000005   Ingmar Bergman  ...                     5         8

[5 rows x 17 columns]

In [7]:
print(movies.describe())

             height        spouses  ...  spouses_with_children       children
count  44681.000000  297705.000000  ...          297705.000000  297705.000000
mean     175.007162       0.208690  ...               0.104866       0.196439
std       14.055496       0.570208  ...               0.349762       0.721257
min       20.000000       0.000000  ...               0.000000       0.000000
25%      168.000000       0.000000  ...               0.000000       0.000000
50%      175.000000       0.000000  ...               0.000000       0.000000
75%      183.000000       0.000000  ...               0.000000       0.000000
max      990.000000      12.000000  ...               6.000000      16.000000

[8 rows x 5 columns]