<a href="https://colab.research.google.com/github/Anakha-s/Data-Science/blob/main/EXPP4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
from scipy import stats

In [2]:
movies= pd.read_csv("IMDb movies.csv")
print(movies.head(5))

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(movies.describe)

<bound method NDFrame.describe of       imdb_title_id  ... reviews_from_critics
0         tt0000009  ...                  2.0
1         tt0000574  ...                  7.0
2         tt0001892  ...                  2.0
3         tt0002101  ...                  3.0
4         tt0002130  ...                 14.0
...             ...  ...                  ...
85850     tt9908390  ...                  4.0
85851     tt9911196  ...                  4.0
85852     tt9911774  ...                  NaN
85853     tt9914286  ...                  NaN
85854     tt9914942  ...                  2.0

[85855 rows x 22 columns]>

In [4]:
#check the column name
print("column names:%s" %movies.columns.values)

column names:['imdb_title_id' 'title' 'original_title' 'year' 'date_published' 'genre'
 'duration' 'country' 'language' 'director' 'writer' 'production_company'
 'actors' 'description' 'avg_vote' 'votes' 'budget' 'usa_gross_income'
 'worlwide_gross_income' 'metascore' 'reviews_from_users'
 'reviews_from_critics']

In [5]:
print(movies.dtypes)
print(movies.shape)

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object
(85855, 22)

In [6]:
#check null data
print("null value:\n")
print(movies.isna()) #same as movies.isnull().sum()
print(movies.isna().sum())
print("null values %s" %movies.isnull().values.any())
print("null values %s"%movies.isna().sum().sum())
print(movies.describe())

null value:

       imdb_title_id  title  ...  reviews_from_users  reviews_from_critics
0              False  False  ...               False                 False
1              False  False  ...               False                 False
2              False  False  ...               False                 False
3              False  False  ...               False                 False
4              False  False  ...               False                 False
...              ...    ...  ...                 ...                   ...
85850          False  False  ...                True                 False
85851          False  False  ...               False                 False
85852          False  False  ...                True                  True
85853          False  False  ...                True                  True
85854          False  False  ...                True                 False

[85855 rows x 22 columns]
imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     64
language                   833
director                    87
writer                    1572
production_company        4455
actors                      69
description               2115
avg_vote                     0
votes                        0
budget                   62145
usa_gross_income         70529
worlwide_gross_income    54839
metascore                72550
reviews_from_users        7597
reviews_from_critics     11797
dtype: int64
null values True
null values 288652
           duration      avg_vote  ...  reviews_from_users  reviews_from_critics
count  85855.000000  85855.000000  ...        78258.000000          74058.000000
mean     100.351418      5.898656  ...           46.040826             27.479989
std       22.553848      1.234987  ...          178.511411             58.339158
min       41.000000      1.000000  ...            1.000000              1.000000
25%       88.000000      5.200000  ...            4.000000              3.000000
50%       96.000000      6.100000  ...            9.000000              8.000000
75%      108.000000      6.800000  ...           27.000000             23.000000
max      808.000000      9.900000  ...        10472.000000            999.000000

[8 rows x 6 columns]

In [7]:
#clean the dataset by droping the na values
clean_movies=movies.dropna(how='any')
movies=movies.dropna(how='any')

In [8]:
print(clean_movies.shape)

(6616, 22)

In [9]:
#use fillna attribute of pandas
#for filling up missing values in all columns
movies.fillna(value=0,inplace=True)

In [10]:
#for this dataframe we can 'missing' in the columns of object data types for example language
movies['language'].fillna("no info",inplace=True)
print("null values", movies.isna().sum())

null values imdb_title_id            0
title                    0
original_title           0
year                     0
date_published           0
genre                    0
duration                 0
country                  0
language                 0
director                 0
writer                   0
production_company       0
actors                   0
description              0
avg_vote                 0
votes                    0
budget                   0
usa_gross_income         0
worlwide_gross_income    0
metascore                0
reviews_from_users       0
reviews_from_critics     0
dtype: int64

In [11]:
# check if there are duplicate rows or not 

#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

duplicate_rows = movies[movies.duplicated()]
print("number of duplicate rows: ", duplicate_rows.shape)

number of duplicate rows:  (0, 22)

In [12]:
#+ discretization or binning

print(movies['budget'][5:10])
# check the miminmum value of all columns
print("minimum values of all cloumn:") 
print('\n')
print(movies.min())

3266    $ 3977000
3348    $ 1900000
3451    $ 2777000
3553    $ 2280000
3672    $ 2600000
Name: budget, dtype: object
minimum values of all cloumn:


imdb_title_id                                                    tt0017136
title                                                 (500) giorni insieme
original_title                                          'Crocodile' Dundee
date_published                                                  1928-10-01
genre                                                               Action
duration                                                                63
country                     Afghanistan, Ireland, Japan, Iran, Netherlands
language                                               Aboriginal, English
director                                       Aaron Blaise, Robert Walker
writer                                      'Weird Al' Yankovic, Jay Levey
production_company                         "DIA" Productions GmbH & Co. KG
actors                   'Weird Al' Yankovic, Victoria Jackson, Kevin M...
description              "21" is the fact-based story about six MIT stu...
avg_vote                                                               1.4
votes                                                                  115
budget                                                             $ 10000
usa_gross_income                                                    $ 1000
worlwide_gross_income                                               $ 1000
metascore                                                                1
reviews_from_users                                                       1
reviews_from_critics                                                     1
dtype: object